{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Контактная информация</h2>
        <ul>
            <li>Телефон: <a href="tel:89260905545"></a>8(925)140-63-31</li>
            <li>E-mail: <a href="mailto:fresh-fruits@bk.ru"></a>fresh-fruits@bk.ru</li>
            <li>Instagram:</li>
            <li>Адрес: г. Москва ул. Трофимова д. 11</li>
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac3c4c87aa9df95f0fd504186ad2d22698c42ad09ff668ad3cd689b79d405e8d2&amp;width=758&amp;height=393&amp;lang=ru_RU&amp;scroll=true"></script>
        </ul>
        <h2>Реквизиты</h2>
        <ul>
            <li>ООО ГККМ (Группа компаний капитал маркет)</li>
            <li>ОГРН 114230801191</li>
            <li>ИНН 2308214369</li>
            <li>КПП 230801001</li>
        </ul>
    </div>
{% endblock %}