{% extends 'base.html' %}
{% block menu %}
    {% include "fruitandjuice/menu.html" with active_tab='' %}
{% endblock %}
{% block ext_menu %}
    {% include "fruitandjuice/ext_menu.html" with active_tab='ext_tab1' %}
{% endblock %}
{% block content %}
    <div class="container mt-7">
        {% if not cart_items %}
            <h2>Ваша корзина пуста</h2>
            <h4>Добавьте что-нибудь из <a href="{% url 'fruitsandjuice:home' %}">меню</a></h4>
        {% else %}
            <h2>Корзина</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование продукта</th>
                    <th scope="col">Единица товара</th>
                    <th scope="col">Цена</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.unit_product }}</td>
                        <td>{{ item.product.price }} руб.</td>
                        <td align="center"><a href="{% url 'fruitsandjuice:cart' %}" value="{{ item.pk }}" class="btn prod_remove"><img class="fas fa-trash-alt fa-1x"></a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Итого:</td>
                    <td>{{ summ_items.product__price__sum|floatformat:2 }} руб.</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-4 mb-3">
                <h4 for="telephonenumber">Мобильный телефон</h4>
                <input type="text" class="form-control" id="telephonenumber" placeholder="89220005566" value=""
                       required>
            </div>
            <form action="">
            <div class="form-group col-md-5">
                <h4 for="inputDelivery">Способ доставки:</h4>
                <select id="inputDelivery" class="form-control">
                    <option selected>Выбирете способ доставки</option>
                    {% for ditem in delivery %}
                        <option value="{{ ditem.name }}">{{ ditem.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-5">
                <h4 for="inputPayment">Способ оплаты при получении:</h4>
                <select id="inputPayment" class="form-control">
                    <option selected>Выбирете способ оплаты</option>
                    {% for pitem in payment %}
                        <option value="{{ pitem.name }}">{{ pitem.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-primary btn">Оформить</button>
        {% endif %}

    </div>
{% endblock %}