{% extends 'base.html' %}
{% block menu %}
    {% include "fruitandjuice/menu.html" with active_tab='tab3' %}
{% endblock %}
{% block content %}
    <div class="container mt-7">
        <h2>Условия доставки </h2>
        <p>Уважаемые покупатели, ознакомьтесь с условиями доставки и способами оплаты товара, так Вы получите ответы на
            многие вопросы.</p>
        <h3>Оформление и обработка заказов</h3>
        <p>Мы рады, что Вы выбрали нашу компанию! Поэтому, как только мы получим уведомление о поступившем заказе,
            начнем собирать его у себя на складе. Если необходимого товара нет у нас на складе, наш менеджер свяжется с
            Вами (WhatsApp или по телефону) и оговорит сроки и дату поступления товара. Обычно доставка по Москве
            осуществляется в течение 1 рабочего дня. Пожалуйста указывайте действующий номер телефона, мы доставляем
            товар только после предварительного с Вами согласования.
        </p>
        <h3>Способы оплаты</h3>
        <p>Наличный расчет. Оплата курьеру при получении. С этим все просто: наш курьер приезжает к Вам, Вы проверяете
            товар, получаете и передаете ему деньги. <br>
            Оплата картой (по терминалу). Оплата по терминалу возможна при самовывозе, а также при предварительном
            согласовании с менеджером. Во время оформления заказа Вы говорите, что будете расплачиваться по карте, мы
            согласовываем и отправляем к Вам курьера с терминалом. <br>
            Банковский перевод для юридических лиц и предпринимателей. Мы выставляем и отправляем счет на оплату, вы
            оплачиваете и уведомляете нас об этом любым удобным способом. Когда денежные средства поступят на наш
            расчетный счет, доставка будет осуществлена в течение суток. Обратите внимание, что при оплате банковским
            переводом возможны дополнительные сборы банком. Пакет документов для бухгалтерии Вы получаете вместе с
            заказом.
        </p>
        <h3>Способы доставки</h3>
        <p>Курьером по Москве и Московской области <br>
            Самовывоз из распределительного центра (по предварительному заказу)
        </p>
        <h4>Стоимость доставки в пределах МКАД</h4>
        <p>500 рублей; <br>
            Заказ на сумму более 3000 рублей доставка без доплаты. <br>
            Доставка заказов осуществляется во временной интервал с 09:00 до 23:00 (точное время доставки оговаривается
            при заказе).
        </p>
        <h4>Стоимость доставки по Московской области</h4>
        <p>Стоимость доставки в радиусе 10-20 км от МКАД составляет до 1000 рублей (предварительно оговаривается
            индивидуально).</p>
        <h4>Доставка транспортной компанией</h4>
        <p>Стоимость доставки зависит от адреса поставки. Доставка осуществляется при 100% предоплате. Расходы за
            доставку оплачивает покупатель. </p>
    </div>
{% endblock %}