html, body {
	height: 98%;
}

.logo {
    width: 3em;
}

.icon {
	color: #fc9905;
	width: 3em;
}

.copyright {
	float : right;
}

footer {
	background-color: #f7f7f7;
	color: #fff
}

.fa-instagram, .fa-whatsapp{
	color: #fc9905;
}

.mt-7 {
	margin-top: 100px !important;
}
label.error_small {
	color: red;
	font-size: 9px;
}

input.error_small {
	margin-bottom: 0px !important;
}

.trash {
	display: block;
    margin-left: auto;
    margin-right: auto;
}